/* ARROW BUTTONS */
.arrowWrap {
	position: fixed;
	left: 0;
	bottom: 19%;
	z-index: 10;
	display: none;
}

.d-top {
	width: 35px;
	height: 50px;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	left: 55px;
	border-top: 4px solid rgba(192, 192, 192, 0.5);
	border-right: 4px solid rgba(192, 192, 192, 0.5);
	border-left: 2px solid rgba(192, 192, 192, 0.5);
	bottom: 116px;
}

.d-right {
	width: 50px;
	height: 35px;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	bottom: 75px;
	left: 92px;
	border-bottom: 4px solid rgba(192, 192, 192, 0.5);
	border-right: 4px solid rgba(192, 192, 192, 0.5);
	border-top: 2px solid rgba(192, 192, 192, 0.5);
}

.d-bottom {
	width: 35px;
	height: 50px;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	left: 55px;
	bottom: 25px;
	border-bottom: 4px solid rgba(192, 192, 192, 0.5);
	border-right: 4px solid rgba(192, 192, 192, 0.5);
	border-left: 2px solid rgba(192, 192, 192, 0.5);
}

.d-left {
	width: 50px;
	height: 35px;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	left: 5px;
	bottom: 75px;
	border-bottom: 4px solid rgba(192, 192, 192, 0.5);
	border-left: 2px solid rgba(192, 192, 192, 0.5);
	border-top: 2px solid rgba(192, 192, 192, 0.5);
}

/* A/B BUTTONS */
.roundBtnWrap {
	position: fixed;
	right: 0;
	bottom: 19%;
	z-index: 10;
	display: none;
}

.a-btn {
	position: absolute;
	right: 10px;
	bottom: 90px;
	background-color: rgba(0, 0, 0, .5);
	color: rgba(255, 255, 255, .5);
	border-radius: 50%;
	padding: 25px;
	font-size: 14px;
	border-right: 4px solid rgba(192, 192, 192, 0.5);
	border-bottom: 4px solid rgba(192, 192, 192, 0.5);
	border-top: 2px solid rgba(192, 192, 192, 0.5);
	border-left: 2px solid rgba(192, 192, 192, 0.5);
}

.b-btn {
	position: absolute;
	bottom: 25px;
	right: 85px;
	background-color: rgba(0, 0, 0, .5);
	color: rgba(255, 255, 255, .5);
	border-radius: 50%;
	padding: 25px;
	font-size: 14px;
	border-right: 4px solid rgba(192, 192, 192, 0.5);
	border-bottom: 4px solid rgba(192, 192, 192, 0.5);
	border-top: 2px solid rgba(192, 192, 192, 0.5);
	border-left: 2px solid rgba(192, 192, 192, 0.5);
}

/* START BUTTON */
.d-start {
	position: fixed;
	bottom: 3%;
	background-color: rgba(0, 0, 0, .3);
	color: rgba(255, 255, 255, .5);
	border-radius: 6px;
	padding: 4px 10px;
	font-size: 7px;
	border-right: 4px solid rgba(192, 192, 192, 0.5);
	border-bottom: 4px solid rgba(192, 192, 192, 0.5);
	border-top: 2px solid rgba(192, 192, 192, 0.5);
	border-left: 2px solid rgba(192, 192, 192, 0.5);
	display: none;
	width: 34px;
	z-index: 10;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
@media only screen and (max-width: 950px) and (max-height: 550px) {

	.arrowWrap,
	.roundBtnWrap {
		bottom: 20%;
	}

	.a-btn {
		right: 30px;
		bottom: 110px;
	}

	.b-btn {
		bottom: 20px;
		right: 30px;
	}
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

	.arrowWrap {
		left: 75px
	}

	.roundBtnWrap {
		right: 75px;
	}
}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

	.arrowWrap {
		left: 20px;
		bottom: 250px
	}

	.roundBtnWrap {
		right: 0;
		bottom: 250px
	}

	.a-btn {
		right: 30px;
		bottom: 110px;
	}

	.b-btn {
		bottom: 20px;
		right: 30px;
	}
}

/* Desktop  */
/* @media only screen and (min-width: 1024px) {} */