.introWrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
}

.introImgWrap {
	position: absolute;
	top: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gameMenuOpts:focus {
	text-decoration: underline;
	color: orange;
	outline: none;
}

.gameMenuWrap {
	text-align: center;
	font-size: 9px;
}

.startIntroBtn {
	padding: 14px;
	/* border: 2px solid #fafafa; */
	color: #000;
	background-color: #000;
}

.disclaimerTxt {
	font-size: 10px;
	line-height: 20px;
}

.okBtn {
	position: absolute;
	bottom: 0;
	margin: 10px 0 0 0;
	padding: 15px;
	width: 100%;
	font-size: 10px;
	color: #fafafa
}

.introSequence,
.disclaimerPage {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fafafa;
	opacity: 0;
	display: none;
}

.sequenceWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
}

.gameLogo {
	width: 75%;
}

.demoTxt {
	font-size: 13px;
}

.versionTxt {
	font-size: 10px;
}

.clickHere {
	font-size: 9px;
}

.infoText {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 8px;
	padding: 0 10px;
}

.infoCreditsText {
	font-size: 8px;
}

.maintainer {
	font-size: 6px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	line-height: 20px;
	padding: 0 15px;
}

.clickHere {
	/* position: absolute; */
	/* bottom: 100px; */
	text-decoration: underline;
	cursor: pointer;
}

.creditsPage,
.optionsPage {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fafafa;
}

.creditsLogo {
	width: 150px;
}

.playerNameWrap,
.rivalNameWrap {
	display: none;
	flex-direction: column;
	width: 90%;
}

.NameFullPlayer {
	width: 140px;
	margin: auto;
	padding: 0 0 25px 0;
}

.RivalFullPlayer {
	width: 100px;
	margin: auto;
	padding: 0 0 25px 0;
}

.playerNameInput,
.rivalNameInput {
	padding: 10px;
}

.submitNameBtn {
	padding: 15px;
	border: 2px solid #000;
	width: 100%;
	font-size: 10px;
	margin: 10px 0 0 0;
}

.profIntroWrap {
	display: none;
	position: absolute;
	top: 10px;
	opacity: 0;
	align-items: baseline;
}

.exampleMon {
	opacity: 0;
}

.controlsOverviewWrap {
	display: none;
	position: absolute;
	top: 10px;
	justify-content: center;
	font-size: 8px;
	width: 90%;
}

.confirmNewGame {
	display: none;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: #fafafa;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.confirmTxt {
	font-size: 12px;
	padding: 10px;
	line-height: 20px;
}

.confirmBtn {
	font-size: 10px;
	border: 2px solid #000;
	margin: 0 10px;
	padding: 15px;
}

.pageContent {
	padding: 10px;
	background-color: #fafafa;
	position: absolute;
	overflow-y: scroll;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.pageRow {
	display: flex;
	flex-direction: column;
}

.headerP {
	margin: 30px 0 10px 0;
	font-size: 11px;
	line-height: 20px;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
@media only screen and (max-width: 950px) and (max-height: 550px) {

	.playerNameWrap,
	.rivalNameWrap {
		width: 70%;
	}
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

	.profIntroWrap,
	.controlsOverviewWrap {
		top: 70px
	}

	.okBtn {
		width: 50%;
	}

	.sequenceWrap {
		width: 50%;
	}

	.gameLogo {
		width: 50%;
	}

	.playerNameWrap,
	.rivalNameWrap {
		width: 50% !important;
	}

	.pageContent {
		width: 60%;
		margin: auto;
	}
}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

	.gameMenuWrap {
		font-size: 16px;
	}

	.profIntroWrap,
	.controlsOverviewWrap {
		top: 70px
	}

	.sequenceWrap {
		width: 50%;
	}

	.gameLogo {
		width: 50%;
	}

	.okBtn {
		width: 50%;
	}

	.playerNameWrap,
	.rivalNameWrap {
		width: 50% !important;
	}

	.pageContent {
		width: 60%;
		margin: auto;
	}
}

/* Desktop  */
@media only screen and (min-width: 1024px) {}