/* press-start-2p-regular - latin */
@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url("../font/press-start-2p-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../font/press-start-2p-v14-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../font/press-start-2p-v14-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../font/press-start-2p-v14-latin-regular.woff") format("woff"),
    /* Modern Browsers */
    url("../font/press-start-2p-v14-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../font/press-start-2p-v14-latin-regular.svg#PressStart2P") format("svg");
  /* Legacy iOS */
}

* {
  font-family: "Press Start 2P";
}

a:focus {
  color: orange;
  outline: none;
}

th,
td {
  padding: 5px;
}

body {
  margin: 0;
  background-color: black;
  /* disable text selection which occurs while holding the direction buttons to move player */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  border: none;
  background-color: #fafafa;
  font-size: 8px;
  cursor: pointer;
}

hr {
  margin: 0 0 10px 0;
}

button:hover,
button:focus {
  background: #ff9900;
  outline: 1px solid #ff9900;
}

.pauseBtn {
  border-radius: 0 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.relative {
  position: relative;
}

.txtCenter {
  text-align: center;
}

.bold {
  font-weight: bolder;
}

.underline {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.m-5 {
  margin: 5px 0;
}

.mb-1 {
  margin-bottom: 5px;
}

.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.lh-20 {
  line-height: 20px;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
/* @media only screen and (max-width: 950px) and (max-height: 550px) {} */

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

  button {
    font-size: 12px;
  }
}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

  button {
    font-size: 12px;
  }
}

/* Desktop  */
/* @media only screen and (min-width: 1024px) {} */