.battlegroundWrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

#UIWrap {
  display: block;
}

.battlegroundUI {
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: #fff;
  border-top: 2px solid orange;
  z-index: 2;
}

.attackInfoSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 33.33%;
  border-left: 2px solid orange;
}

.attackBtn {
  border: none;
  cursor: pointer;
}

.attackBtn:hover {
  background-color: #ffcc80;
}

.attackExec {
  font-size: 8px;
  color: #686868;
  margin: 6px 0 0 0;
}

.menuSection {
  width: 66.66%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Switch monster */
.switchMonYesNo {
  position: absolute;
  right: 0;
  left: 60%;
  bottom: 14%;
  display: none;
  grid-template-columns: repeat(1, 1fr);
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  z-index: 2;
}

.cancelSwitch {
  display: block;
  position: absolute;
  right: 0;
  bottom: 24%;
  border-top: 2px solid orange;
  border-left: 2px solid orange;
  padding: 12px;
  font-size: 9px;
  z-index: 2;
}

/* Window after Level-up */
.monsterStatsWrap {
  display: none;
  grid-template-columns: repeat(1, 1fr);
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border-left: 2px solid orange;
  padding: 10px 10px 140px 10px;
  font-size: 9px;
  z-index: 1;
}

.statParagraph {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Evolution */
.transformSection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fafafa;
  display: none;
}

.currentMonEvoImg,
.evoMonImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* New Attack learning */
.forgetQuestion {
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: #fff;
  border-top: 2px solid orange;
  z-index: 2;
  padding: 12px;
  font-size: 9px;
  line-height: 20px;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
@media only screen and (max-width: 950px) and (max-height: 550px) {

  .attackExec {
    font-size: 8px;
    margin: 6px 0 0 0;
  }

  .switchMonYesNo {
    left: 76%;
  }

  .monsterStatsWrap {
    left: 60%;
  }

  .forgetAttackBtns {
    top: 60%;
    right: 0;
    left: 60%;
  }
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

  .attackExec {
    font-size: 11px;
    margin: 12px 0 0 0;
  }

  .switchMonYesNo {
    left: 80%;
  }

  .monsterStatsWrap {
    padding: 14px 14px 140px 14px;
    font-size: 14px;
  }

  .forgetQuestion {
    padding: 10px;
    line-height: 21px;
    font-size: 13px;
  }

  .forgetAttackBtns {
    top: 70%;
    right: 0;
    left: 50%;
  }

}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

  .attackExec {
    font-size: 11px;
    margin: 12px 0 0 0;
  }

  .switchMonYesNo {
    left: 80%;
  }

  .monsterStatsWrap {
    padding: 14px 14px 140px 14px;
    font-size: 14px;
  }

  .forgetQuestion {
    padding: 14px;
    font-size: 14px;
    line-height: 24px;
  }

  .forgetAttackBtns {
    top: 50%;
    right: 0;
    left: 60%;
  }
}

/* Desktop  */
@media only screen and (min-width: 1024px) {

  .monsterStatsWrap {
    left: 65%;
  }

}