.useDropItemWrap {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 70%;
	display: none;
	grid-template-columns: repeat(1, 1fr);
	background-color: #fafafa;
	border: 2px solid orange;
	z-index: 1;
}

.dropCountWrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 11;
}

.dropModal {
	background-color: #fafafa;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 2px solid orange;
}

.dropTxt {
	font-size: 8px;
	text-align: center;
	line-height: 25px;
}

.inputDropCount {
	width: 50%;
	padding: 7px;
}

.dropCountBtns {
	margin-top: 16px;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
/* @media only screen and (max-width: 950px) and (max-height: 550px) {} */

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

	.dropTxt {
		font-size: 12px;
	}
}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

	.useDropItemWrap {
		left: 75%;
	}

	.dropTxt {
		font-size: 12px;
	}
}

/* Desktop  */
@media only screen and (min-width: 1024px) {}