.monList {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #fff;
	display: none;
	border: 2px solid orange;
	z-index: 1;
}

.display {
	display: flex;
	flex-direction: column;
}

.monListEntryWrap {
	font-size: 7px;
	padding: 5px 15px;
	width: 100%;
}

.monListImg {
	width: 30px;
	margin: 0 0 0 10px;
}

.monListBtnWrap {
	display: flex;
	align-items: center;
	width: 75%;
	height: 100%;
}

.monListBtn {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.listNameWrap {
	display: flex;
	justify-content: space-between;
}

.listStatusWrap {
	display: flex;
	justify-content: space-between;
	margin-top: 4px;
}

.mainWrapMonList {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ebebeb;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
/* @media only screen and (max-width: 950px) and (max-height: 550px) {} */

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

	.monListEntryWrap {
		font-size: 11px;
	}

	.monListImg {
		width: 45px;
	}

}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

	.monListEntryWrap {
		font-size: 11px;
	}

	.monListImg {
		width: 45px;
	}
}

/* Desktop  */
/* @media only screen and (min-width: 1024px) {} */