.pauseOptionsPage {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 10px;
	padding: 10px;
	background-color: #fafafa;
	border: 2px solid orange;
	border-radius: 0 8px;
	display: none;
}

.optionsHeader {
	color: orange;
	font-size: 16px;
}

.optionsSoon {
	font-size: 9px;
	line-height: 15px;
}

.sourceCodeBtn {
	font-size: 9px;
	padding: 10px;
	color: #fafafa;
	margin: 10px 0 0 0;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
/* @media only screen and (max-width: 950px) and (max-height: 550px) {} */

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

	.optionsHeader {
		font-size: 20px;
	}

	.optionsSoon {
		font-size: 12px;
		line-height: 18px;
	}

	.sourceCodeBtn {
		font-size: 12px;
	}
}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

	.optionsHeader {
		font-size: 20px;
	}

	.optionsSoon {
		font-size: 12px;
		line-height: 18px;
	}

	.sourceCodeBtn {
		font-size: 12px;
	}
}

/* Desktop  */
/* @media only screen and (min-width: 1024px) {} */