.saveWindow {
	position: absolute;
	left: 0;
	top: 0;
	width: 65%;
	margin: 5px;
	background-color: #fafafa;
	bottom: 50%;
	font-size: 9px;
	padding: 10px;
	border: 2px solid orange;
	border-radius: 0 8px;
	display: none;
}

.saveHeader {
	text-align: center;
	color: orange;
	font-size: 13px;
	margin: 0;
}

.saveInfoWrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.savedSatsImg {
	width: 7px;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
@media only screen and (max-width: 950px) and (max-height: 550px) {

	.saveWindow {
		width: 50%;
	}
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

	.saveWindow {
		padding: 20px;
	}

	.saveWindow {
		font-size: 13px;
	}

	.saveHeader {
		font-size: 20px;
	}

	.savedSatsImg {
		width: 11px;
	}

	.saveInfoWrap {
		margin: 15px 0 0 0;
	}
}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {

	.saveWindow {
		padding: 20px;
	}

	.saveWindow {
		font-size: 13px;
	}

	.saveHeader {
		font-size: 20px;
	}

	.savedSatsImg {
		width: 11px;
	}

	.saveInfoWrap {
		margin: 15px 0 0 0;
	}
}

/* Desktop  */
/* @media only screen and (min-width: 1024px) {} */