.playerOverview {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fafafa;
	margin: 10px;
	border: 2px solid orange;
	border-radius: 0 10px;
	padding: 10px;
	font-size: 10px;
	display: none;
}

.trainerpassHeader {
	color: orange;
}

.playerOvInfoWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.moneyValWrap {
	display: flex;
	align-items: center;
}

.sats {
	width: 12px;
	margin: 0 5px 0 0;
}

.fullPlayer {
	width: 80px;
}

/* .medalsWrap {
	display: flex;
	justify-content: center;
} */

.badgesWrap {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	align-items: center;
	margin: 20px 0 0 0;
}

.badgeImg {
	width: 25px;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

/* Turned Smartphone */
@media only screen and (max-width: 950px) and (max-height: 550px) {

	.trainerpassHeader {
		text-align: center;
	}

	.fullPlayer {
		width: 100px;
	}

	.badgesWrap {
		margin: 40px 0 0 0;
	}
	
	.badgeImg {
		width: 30px;
	}
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) and (min-height: 950px) and (max-height: 1180px) {

	.playerOverview {
		font-size: 16px;
		padding: 25px;
	}

	.trainerpassHeader {
		text-align: center;
	}

	.fullPlayer {
		width: 150px;
	}

	.badgesWrap {
		margin: 40px 0 0 0;
	}
	
	.badgeImg {
		width: 40px;
	}
}

/* Desktop small or Turned Tablet  */
@media only screen and (min-width: 950px) {
	.playerOverview {
		font-size: 16px;
		padding: 25px;
	}

	.trainerpassHeader {
		text-align: center;
	}

	.fullPlayer {
		width: 150px;
	}

	.badgesWrap {
		margin: 40px 0 0 0;
	}
	
	.badgeImg {
		width: 60px;
	}
}

/* Desktop  */
/* @media only screen and (min-width: 1024px) {} */